@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$space-mono: 'Space Mono', monospace;

body {
  font-family: $space-mono;
  font-size: 24px;
}

header {

  h1, h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

}

label {
  font-size: 0.9rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.72rem;
}

.amount {
  font-size: 1.8rem;
}

button {
  font-family: $space-mono;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.reset {
  font-size: 1.1rem;
}

// @media (min-width: 600px){  
//   .title {
//     font-size: 0.8rem;
//   }

//   .advice {
//     font-size: 1.7rem;
//   }
// }