// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: ab.$light-grayish-cyan;
}

header {
  margin: 2.2rem auto 0.8rem auto;
  color: ab.$very-dark-cyan;
}

.card {
  margin: 1rem 0 0 0;
  padding: 1.8rem;
  border-radius: 1rem;
  background-color: ab.$white;
}

.cost, .people {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: ab.$dark-grayish-cyan;
}

button {
  width: 9.1rem;
  height: 3rem;
}

.output {
  margin-top: 1.8rem;
}

// @media (min-width: 600px){  
//   .card {
//     margin: 13.94rem auto 0 auto;
//     max-width: 33.75rem;
//   }
// }
