// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: ab.$light-grayish-cyan;
}

header {
  margin: 2.5rem auto 2rem auto;
}

.cost, .tip, .people {
  margin-bottom: 1.75rem;
}

.tip-grid {
  margin-top: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.output {
  margin-top: 1.8rem;
}

// @media (min-width: 600px){  
//   .card {
//     margin: 13.94rem auto 0 auto;
//     max-width: 33.75rem;
//   }
// }
