// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

.output {
  flex-direction: column;
  background-color: ab.$very-dark-cyan;
  border-radius: 0.7rem;
  padding: 2.5rem 1.5rem 1.3rem 1.5rem;
}

.output,
.tip-container,
.label-container,
.total-container {
  display: flex;
}

.tip-container, .total-container {
  flex-direction: row;
  justify-content: space-between;
}

.total-container {
  padding-bottom: 1rem;
}

.label-container {
  flex-direction: column;
  padding-bottom: 1.4rem;
}

h3 {
  color: ab.$very-light-grayish-cyan;
}

h4 {
  color: ab.$grayish-cyan;
}

.amount {
  color: ab.$strong-cyan;
}

