@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
body, input {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
}

header h1, header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

label {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

.amount {
  font-size: 2rem;
}

button {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.reset {
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, input {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
}

header h1, header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

label {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

.amount {
  font-size: 2rem;
}

button {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.reset {
  font-size: 1.2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: hsl(185deg, 41%, 84%);
}

header {
  margin: 2.5rem auto 2rem auto;
}

.cost, .tip, .people {
  margin-bottom: 1.75rem;
}

.tip-grid {
  margin-top: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.output {
  margin-top: 1.8rem;
}

body, input {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
}

header h1, header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

label {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

.amount {
  font-size: 2rem;
}

button {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.reset {
  font-size: 1.2rem;
}

button {
  height: 3.1rem;
  border-radius: 0.3rem;
  border-style: none;
}

button:hover {
  background-color: hsl(172deg, 67%, 75%);
  color: hsl(183deg, 100%, 15%);
}

.tip-button {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(189deg, 41%, 97%);
}

.reset {
  width: 100%;
}

.reset, .selected {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}

header {
  color: hsl(183deg, 100%, 15%);
}

label {
  color: hsl(186deg, 14%, 43%);
}

#price {
  background: url("./../../images/icon-dollar.svg") no-repeat 1rem center;
}

.people-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}

#num-people {
  background: url("./../../images/icon-person.svg") no-repeat 1rem center;
}

#price, #num-people, #custom {
  background-color: hsl(189deg, 41%, 97%);
}

#custom {
  height: 3.1rem;
}

::placeholder {
  color: hsl(186deg, 14%, 43%);
}

input[type=text], .select {
  padding: 0 1rem;
  width: 100%;
  height: 2.9rem;
  resize: none;
  border-style: none;
  border-radius: 0.3rem;
  text-align: right;
  color: hsl(183deg, 100%, 15%);
}

input[type=text]:focus, .select:focus {
  outline: 2px solid hsl(172deg, 67%, 45%);
}

.error-text {
  color: #B77D72;
}

.main-card {
  padding: 1.8rem;
  border-radius: 1.3rem;
  background-color: hsl(0deg, 100%, 100%);
}

.output {
  flex-direction: column;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 0.7rem;
  padding: 2.5rem 1.5rem 1.3rem 1.5rem;
}

.output,
.tip-container,
.label-container,
.total-container {
  display: flex;
}

.tip-container, .total-container {
  flex-direction: row;
  justify-content: space-between;
}

.total-container {
  padding-bottom: 1rem;
}

.label-container {
  flex-direction: column;
  padding-bottom: 1.4rem;
}

h3 {
  color: hsl(189deg, 41%, 97%);
}

h4 {
  color: hsl(184deg, 14%, 56%);
}

.amount {
  color: hsl(172deg, 67%, 45%);
}

/*# sourceMappingURL=style.css.map */
